// Palette ported from notusknot/dotfiles-nix (see README credits)
$mantle: #292a37;
$mauve: #b072d1;
$text: #d9e0ee;
$light-gray: #9699b7;

.panel {
    background-color: rgba(41, 42, 55, 0.9); // mantle
    border: 2px solid $mauve;
    border-radius: 12px;
    padding: 10px;
}

.clock {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 22px;
    color: $text;
}

.uptime {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    color: $light-gray;
}
