window {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    background-color: #292a37; /* mantle */
    color: #d9e0ee; /* text */
    border: 2px solid #b072d1; /* mauve */
    border-radius: 12px;
}

#input {
    margin: 8px;
    padding: 8px;
    background-color: #44465c; /* base */
    color: #d9e0ee;
    border-radius: 8px;
    border: none;
}

#inner-box {
    margin: 4px;
}

#entry {
    padding: 6px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #6e738d; /* overlay0 */
}

#text {
    color: #d9e0ee;
}

#text:selected {
    color: #b072d1; /* mauve */
}
