* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(41, 42, 55, 0.9); /* mantle */
    color: #d9e0ee; /* text */
}

#workspaces button {
    padding: 0 8px;
    color: #6e738d; /* overlay0 */
}

#workspaces button.active {
    color: #b072d1; /* mauve */
}

#workspaces button:hover {
    background-color: #44465c; /* base */
}

#clock,
#tray,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#battery,
#custom-power {
    padding: 0 10px;
    margin: 4px 2px;
    background-color: #44465c; /* base */
    border-radius: 8px;
}

#battery.warning {
    color: #efb993; /* yellow */
}

#battery.critical {
    color: #ec6a88; /* red */
}

#custom-power {
    color: #ec6a88;
}
