@import url("colors.css");

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: @mantle;
    color: @text;
}

#workspaces button {
    padding: 0 8px;
    color: @overlay0;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button:hover {
    background-color: @base;
}

#clock,
#tray,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#battery,
#custom-power {
    padding: 0 10px;
    margin: 4px 2px;
    background-color: @base;
    border-radius: 8px;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#custom-power {
    color: @red;
}
